<img  src="../assets/images/logoG.png" style="float: right; margin-right: 1%" >
<img   src="../assets/images/logoT.png" style="float: left ; margin-left: 1%">

<!-- news -->
<div class="news" id="gallery">
  <div class="text-center">
    <h1  class="w3_head mb-5" style="padding-right: 17%">Détails Techniques</h1>
  </div>
  <br>
  <div class="row news-grids">
    <div class="col-md-6">
      <br><br>
      <div class="news_top">
        <a routerLink="/Vitrages"><img src="../../assets/images/vitrage.jpg"  width="100" height="100" alt="news image" class="img-fluid"></a>
        <h4>Vitrage</h4>
      </div>
    </div>

      <div class="col-md-6">
        <div class="news_top">
          <br>
          <br>
          <a routerLink="/Aluminium"><img src="../../assets/images/alu.png" alt="news image" width="100" height="100"></a>
          <h4>Aluminium</h4>
        </div>
      </div>

    </div>


  </div>

