<img  src="../assets/images/logoG.png" style="float: right; margin-right: 1%" >
<img   src="../assets/images/logoT.png" style="float: left ; margin-left: 1%">

<!-- news -->
<div class="news" id="gallery">
  <div class="text-center">
     <h1 class="w3_head mb-5" style="padding-right: 12%"  >Menu</h1>
  </div>
  <br>
  <div class="row news-grids">
    <div class="col-md-3 news-grids-left">
      <div class="news_top">
        <a routerLink="/Products"><img width="100" height="100" src="../../assets/images/product.png" alt="Produits" class="img-fluid"></a>
        <h4>Produits</h4>
      </div>
      <br><br>
      <div class="news_top">
        <a routerLink="/Assembleurs"><img src="../../assets/images/assemb.png" alt="news image" class="img-fluid" width="100" height="100"></a>
        <h4>Assembleurs</h4>
      </div>
    </div>
    <div class="col-md-3 news-grids-middle">
      <div class="news_top">
        <a routerLink="/Projets"><img src="../../assets/images/project.png" alt="news image" width="100" height="100" class="img-fluid"></a>
        <h4>Projets</h4>
      </div>
      <br><br>
      <div class="news_top">
        <a routerLink="/Vitreurs"><img src="../../assets/images/vitreur.jpg"  width="100" height="100" alt="news image" class="img-fluid"></a>
        <h4>Vitreurs</h4>
      </div>
    </div>
    <div class="col-md-3 news-grids-right">
      <div class="news_top">
        <a routerLink="/Aluminium"><img src="../../assets/images/alu.png" alt="news image"  width="100" height="100"class="img-fluid"></a>
        <h4>Aluminium</h4>
      </div>
      <br><br>
      <br>
      <div class="news_top">
        <a routerLink="/Poseurs"><img src="../../assets/images/poseur.jpg" alt="news image" class="img-fluid" width="100" height="100"></a>
        <h4>Poseurs</h4>
      </div>
    </div><div class="col-md-3 news-grids-right">
    <div class="news_top">
      <a routerLink="/Vitrages"><img src="../../assets/images/vitrage.jpg" alt="news image" class="img-fluid" width="100" height="100"></a>
      <h4>Vitrage</h4>
    </div>

      <br><br>
    </div>


  </div>
</div>
